{% extends 'login_base.html' %}

{% block content %}
    <div class="justify-center flex text-5xl mt-36">
        <h1>Login</h1>
    </div>

    <center>
        <div class="mt-20">
            <label for="email">Email :</label>
            <input type="text"id="email" class="border border-black rounded-lg text-base px-2 py-1" placeholder="Enter Your Email ...">
        </div>
    </center>

    <center>
        <div class="mt-7">
            <label for="password">Password :</label>
            <input type="password"id="password" class="border border-black rounded-lg text-base px-2 py-1" placeholder="Enter Your Password ...">
        </div>
    </center>

    <center>
        <button class="bg-orange-200 text-xl w-40 mt-10 px-4 py-2 rounded-lg" onclick="location.href='https://youtu.be/dQw4w9WgXcQ?si=EunIq99-qHEx29bt' "><i class="fa-solid fa-right-to-bracket pr-3"></i>Login</button>
    </center>
{% endblock %}