{% extends 'base.html' %}

{% block content %}
    <div class="justify-center flex text-5xl mt-36">
        <h1>Sign-Up</h1>
    </div>
    <center>
        <div class="mt-20">
            <label for="email">Email :</label>
            <input type="text"id="email" class="border border-black rounded-lg text-base px-2 py-1" placeholder="Enter Your Email ...">
        </div>
    </center>
    <center>
        <div class="mt-5">
            <label for="password">Password :</label>
            <input type="password"id="password" class="border border-black rounded-lg text-base px-2 py-1" placeholder="Enter Your Password ...">
        </div>
    </center>

    <center>
        <div class="mt-5">
            <label for="password">Confirm :</label>
            <input type="password"id="password" class="border border-black rounded-lg text-base px-2 py-1" placeholder="Enter Your Password ...">
        </div>
    </center>
    <center>
        <a class="bg-orange-200 text-xl w-40 mt-10 px-4 py-2 rounded-lg" href="https://youtu.be/a64r9_9YY2g?si=AodueMCn-N6xA0ZS"><i class="fa-solid fa-right-to-bracket pr-3"></i>Sign-Up</a>
    </center>
{% endblock %}