<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Set Goal</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <!-- for index -->
    {% block content %}
    {% endblock %}
    {% block btn_login %}
    {% endblock %}
    {% block btn_signup %}
    {% endblock %}
    
    <!-- for login -->
    {% block content_login %}
    {% endblock %}
    {% block email %}
    {% endblock %}
    {% block password %}
    {% endblock %}
    {% block submit %}
    {% endblock %}

    <!-- for signup -->
    {% block content_signup %}
    {% endblock %}
    {% block email2 %}
    {% endblock %}
    {% block password2 %}
    {% endblock %}
    {% block passwordcon %}
    {% endblock %}
    {% block submit2 %}
    {% endblock %}
</body>
</html>